@import "./tailwind.css";
@import "./header.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background-color: #ffffff !important; /* Fundo branco fixo */
    color: #000000; /* Cor do texto para manter a legibilidade */
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #ffffff !important;
    scroll-behavior: smooth;
}