@import "./tailwind.css";

.hero-line {
    width: 2px;
    background-color: white;
    height: 200px; /* teste temporário */
}
/* Esconde o header inicialmente */
.header {
    @apply fixed top-0 left-0 w-full z-50 py-5 px-6 transition-all duration-500 flex justify-between items-center opacity-0 pointer-events-none;
    background: transparent;
}

/* Header aparece ao sair da seção hero */
.header.visible {
    @apply opacity-100 pointer-events-auto;
    background-image: url("/banner2.png");
    background-size: cover;
    background-position: center;
}

/* Alinhamento correto */
.header-container {
    @apply container mx-auto flex justify-between items-center;
}

.logo {
    @apply flex items-center max-w-[250px];
}

/* Ajuste no tamanho do logo */
.logo img {
    @apply h-12 transition-transform duration-300;
}

.logo:hover img {
    transform: scale(1.05);
}

/* Navbar */
.nav-links {
    @apply flex space-x-6 font-medium;
}

.nav-container {
    @apply flex justify-end w-full;
}

/* Links de navegação */
.nav-links a {
    @apply text-white hover:text-gray-200 transition-colors duration-300;
}

.header-title {
    @apply text-white text-3xl font-bold transition-all duration-300 whitespace-nowrap;
}
