@import "./tailwind.css";

.hero-line {
    width: 2px;
    background-color: white;
    height: 200px;
}

.header {
    @apply fixed top-0 left-0 w-full z-50 py-5 px-6 transition-all duration-500 flex justify-between items-center opacity-0 pointer-events-none;
    background: transparent;
}

.header.visible {
    @apply opacity-100 pointer-events-auto;
    background-image: url("/banner2.png");
    background-size: cover;
    background-position: center;
}

.header-container {
    @apply flex justify-between items-center w-full;
}

.logo-wrapper {
    @apply flex items-center justify-start w-full max-w-[250px];
}

.logo {
    @apply flex items-center;
}

.nav-wrapper {
    @apply flex justify-end w-full;
}

.nav-links-group {
    @apply flex flex-wrap justify-end gap-1.5 sm:gap-2;
}

.nav-button {
    @apply py-1.5 px-2.5 inline-flex items-center gap-x-1.5 text-sm text-white bg-[#3a385d] hover:text-[#d58d9f] rounded-lg transition-colors duration-300;
}

.nav-button svg {
    @apply text-[#b2c4fd] size-4;
}
